/* Custom properties */
:root {
    --color-header-color: #ff6900;
    --color-negative-color: #ffffff;
    --color-main-color: #000000;
    --color-accent-color-red: #ff0000;
    --color-accent-color-green: #008000;
}

/* General */
body {
    font-family: "Roboto", sans-serif;
    font-size: 0.85rem;
    background-color: var(--color-negative-color);
    color: var(--color-main-color);
}

a {
    text-decoration: none;
    color: var(--color-negative-color);
}

/* Header */
.fix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 80px;
    z-index: 999;
}

header {
    background-color: var(--color-header-color);
    color: var(--color-negative-color);
    height: 70px;
    font-weight: 600;
    -webkit-box-shadow: 0px 1px 3px #666;
    -moz-box-shadow: 0px 1px 3px #666;
    box-shadow: 0px 1px 3px #666;
}

nav {
    height: 70px;
}

.logo img {
    height: 30px;
}

ul li {
    margin-right: 10px;
}

nav ul li a:first-child:hover {
    text-decoration: underline;
}

/* Main */
main {
    margin-top: 100px;
    margin-bottom: 80px;
}

.card {
    width: calc(100% / 3 - 10px);
}

.card-img {
    position: relative;
}

.card-img img {
    width: 100%;
    display: block;
    cursor: pointer;
}

.img-main:hover {
    opacity: 0;
    transition: all 0.3s;
}

.img-hover:hover {
    opacity: 1;
}

.img-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

/* Card text label */
.card-text-label {
    position: absolute;
    bottom: 45px;
}

.card-text-label span {
    padding: 3px 8px;
    color: var(--color-negative-color);
}

.discount {
    background-color: var(--color-accent-color-red);
}

.category {
    background-color: var(--color-accent-color-green);
}

.preference {
    position: absolute;
    background-color: var(--color-negative-color);
    padding: 10px;
    top: 10px;
    right: 0;
    font-size: 1.5rem;
}

.preference:hover {
    color: var(--color-accent-color-red);
}

/* Card description */
.brand {
    font-size: 0.8rem;
}

.card-description h3 {
    text-transform: uppercase;
    font-size: 1rem;
}

span.price {
    color: var(--color-accent-color-red);
    font-weight: 700;
}

span.price-discount {
    text-decoration-line: line-through;
}

/* Footer */
footer {
    background-color: var(--color-main-color);
    color: var(--color-negative-color);
    font-size: 0.7rem;
}

.footer-right ul {
    font-size: 1rem;
}